<?xml version="1.0"?>
<config>
    <modules>
        <QuirozDev_Indexer>
            <version>0.1.0</version>
        </QuirozDev_Indexer>
    </modules>
    <global>
        <helpers>
            <quirozdev_indexer>
                <class>QuirozDev_Indexer_Helper</class>
            </quirozdev_indexer>
        </helpers>
        <blocks>
            <quirozdev_indexer>
                <class>QuirozDev_Indexer_Block</class>
            </quirozdev_indexer>
        </blocks>
        <models>
            <quirozdev_indexer>
                <class>QuirozDev_Indexer_Model</class>
            </quirozdev_indexer>
        </models>
    </global>
</config>
