<?xml version="1.0"?>
<config>
    <modules>
        <CQuiroz_Indexer>
            <version>0.1.0</version>
        </CQuiroz_Indexer>
    </modules>
    <global>
        <helpers>
            <cquiroz_indexer>
                <class>CQuiroz_Indexer_Helper</class>
            </cquiroz_indexer>
        </helpers>
        <blocks>
            <cquiroz_indexer>
                <class>CQuiroz_Indexer_Block</class>
            </cquiroz_indexer>
        </blocks>
        <models>
            <cquiroz_indexer>
                <class>CQuiroz_Indexer_Model</class>
            </cquiroz_indexer>
        </models>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <CQuiroz_Indexer before="Mage_Adminhtml">CQuiroz_Indexer_Adminhtml</CQuiroz_Indexer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <cquiroz_indexer>
                    <file>cquiroz_indexer.xml</file>
                </cquiroz_indexer>
            </updates>
        </layout>
    </adminhtml>
</config>
